.remove-button{
color: #e35d6a;
font-weight: bold;
line-height: 2;
}

.remove-button:hover{
color:#dc3545;
font-weight: bold;
cursor: pointer;
}

.number{
    line-height: 2 !important;
    font-weight: bold;
}

.scrollable-table{
    max-height: 28vh;
    overflow: auto;
}

.connected{
color:#198754;
cursor:pointer;
}

.connected:hover{
color:#dc3545;
cursor:pointer;
}

.not-connected{
color:#dc3545;
cursor:pointer;

}

.not-connected:hover{
color:#0d6efd;
cursor: pointer;
}

.plcTitle{
    text-align: center;
}