.header{
    padding: 0;
    margin: 0;
    height: calc(100vh - 44.8vw);
    width: 100vw;
    max-height: 30px;
    background-color: #f8f9fa;
    border-bottom: 1px #dee2e6 solid;
    text-align: center;
}

.text{
    text-align: center;
}

.text:hover{
    cursor: default;
}

.button{
    color: #dc3545;
}

.button:hover{
    cursor: pointer;
    color: #b02a37;
    transition: color 1s;
}

